.headerPrincipal .container{
    display: flex; /* Elementos uno al lado del otro*/ 
    align-items: center; /* Elementos centrados verticalmente*/ 
    justify-content: space-between; /*Espacio entre los elementos */ 
}

.headerPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between; /*Espacio entre los elementos */ 
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center; /* Elementos centrados verticalmente*/ 
    justify-content: space-around;/*Espacio al rededor de los elementos */ 
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;

}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;/* Le indicamos al navegador que ponga los elementos verticalmente*/
    height: 250px;
    flex-wrap: wrap;/*Cuando llega a 250px continua en la siguiente columna*/
}

.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}