.headerPrincipal .container{
    display: flex; /* Elementos uno al lado del otro*/ 
    align-items: center; /* Elementos centrados verticalmente*/ 
    justify-content: space-between; /*Espacio entre los elementos */ 
}

.headerPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between; /*Espacio entre los elementos */ 
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center; /* Elementos centrados verticalmente*/ 
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;

}