.headerPrincipal .container{
    display: flex; /* Elementos uno al lado del otro*/ 
    align-items: center; /* Elementos centrados verticalmente*/ 
    justify-content: space-between; /*Espacio entre los elementos */ 
}

.headerPrincipal-nav{
    display: flex;
}