.headerPrincipal .container{
    display: flex; /* Elementos uno al lado del otro*/ 
    align-items: center; /* Elementos centrados verticalmente*/ 
    justify-content: space-between; /*Espacio entre los elementos */ 
}

.headerPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between; /*Espacio entre los elementos */ 
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center; /* Elementos centrados verticalmente*/ 
    justify-content: space-around;/*Espacio al rededor de los elementos */ 
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;

}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;/* Le indicamos al navegador que ponga los elementos verticalmente*/
    height: 250px;
    flex-wrap: wrap;/*Cuando llega a 250px continua en la siguiente columna*/
}

.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}



/* ---- Responsive ---- */

@media (min-width: 768px){
    .headerPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .headerPrincipal-nav{
        flex-direction: column;
        
    }

    .contenidoPrincipal-cursos{
        flex-direction: column;
    }

    .contenidoPrincipal-cursos-link{
        width: 100%;
    }

    .rodapePrincipal-navMap-list{
        height: auto;
        flex-wrap: nowrap;
    }

    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
    }

    .rodapePrincipal-contatoForm{
        width: 100%;
    }

    .rodapePrincipal-patrocinadores-list{
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }

}